@font-face {
    font-family: "SF Pro Text";
    src: url(../fonts/SFProTextBold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "SF Pro Text";
    src: url(../fonts/SFProTextMedium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "SF Pro Text";
    src: url(../fonts/SFProTextRegular.ttf);
    font-weight: 400;
    font-style: normal;
}



@font-face {
    font-family: "SF Pro Display";
    src: url(../fonts/SFProDisplay-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "SF Pro Display";
    src: url(../fonts/SFProDisplay-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
