doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Test for Tion
        link(rel="stylesheet", href="css/style.css")
    body 
        wrapper 
            section.general 
                .container 
                    .general__content
                        .general__date 2-12 июля 2021
                        h1.general__title Сертификат<br>за регистрацию!
                        p.general__desc Получать подарки всегда приятно, когда Вам дарят их просто так! <span>Поэтому просто оставьте свои контакты и участвуйте* в розыгрыше сертификата Озон.</span>
                        .general__info *Итоги розыгрыша 14.07.21

            section.block 
                .container 
                    .block__unit
                        .block__content 
                            form.form
                                input(type="text" name="name" required placeholder="Имя").form__input
                                input(type="number" name="phone" required placeholder="Телефон").form__input
                                input(type="email" name="email" required placeholder="E-mail").form__input
                                p.form__desc Все поля обязательны для заполнения. Нажимая кнопку «Участвовать», Вы подтверждаете, что даете согласие на обработку персональных данных и на получение рекламной информации, отправляемой на указанный Вами номер телефона и e-mail.
                                input(type="submit" value="Участвовать").form__btn
                            .block__part 
                                .block__icon
                                .block__info 
                                    .block__title Условия розыгрыша: 
                                    p.block__desc Предложение действует со 2 по 12.07.2021 года только для физических лиц. Призовой фонд: 10 сертификатов номиналом 3500 рублей на Озон. 1 победитель = 1 сертификат. Для участия необходимо заполнить все поля в форме регистрации. Итоги розыгрыша будут подведены 14 июля 2021г.  
                                    p.block__more Компания «Тион» оставляет за собой право прекратить действие акции в любой момент.  





                       
